/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


 
 .output-container1
{
	height : 50px;
	width : 100%;
	display : flex;
	flex-direction : column;
	align-items : center;
	justify-content : center;

	
}

.output1
{
	font-size : 40px;
	color : grey;
}
