 
 .outputs-container
{
	height : 50px;
	width : 100%;
	display : flex;
	flex-direction : column;
	align-items : center;
	justify-content : center;

	
}

.outputp
{
	font-size : 40px;
	color : grey;
}
